doctype html
html
    head
        title Yellow Studio
        link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet")
        link(href="/static/css/preloader.css" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.6.0.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="/static/js/project7.js")
    body
        .wrap.loading.bounceball
                     .text NOW LOADING
