@charset "UTF-8";
* {
  position: relative;
  font-family: "Hind Vadodara", sans-serif, "微軟正黑體";
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.daybox {
  width: 50%;
  max-width: 400px;
  position: absolute;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}
.daybox:hover .Bottom {
  height: 100px;
}
.daybox:hover .dayweather {
  opacity: 1;
  top: 0px;
}

.Top {
  height: 330px;
  background: linear-gradient(20deg, #19283D, #1D678F);
  border-radius: 5px 5px 0 0;
  background-size: 100% 300%;
  animation: daylight 20s both;
}
.Top .moon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 15px -15px #FFD633;
  position: absolute;
  left: 50px;
  top: 100px;
  animation: moonmove 20s both infinite;
}
.Top .text_area {
  display: inline-block;
  color: #f3f3f3;
  position: absolute;
  bottom: 25px;
  left: 27px;
}
.Top .text_area .temperature {
  font-size: 75px;
  margin-bottom: 0px;
  font-weight: 100;
  line-height: 80px;
}
.Top .text_area .infos {
  margin-top: -10px;
  display: block;
  letter-spacing: 1px;
  font-size: 13px;
  opacity: 0.5;
}

.cloud {
  width: 100px;
  height: 36px;
  background-color: #f2f9fe;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 210px;
  bottom: 50px;
  border-radius: 20px;
  animation: clouddrift 5s infinite;
}
.cloud:before, .cloud:after {
  background-color: #f2f9fe;
  position: absolute;
  border-radius: 100%;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
}
.cloud:before {
  left: 16px;
  top: -28px;
}
.cloud:after {
  left: 35px;
  top: -20px;
}

.rain {
  width: 2px;
  height: 10px;
  position: absolute;
  background-color: #f2f9fe;
  left: 10px;
  bottom: 20px;
  animation: raindrop 1s infinite linear;
}
.rain:before, .rain:after {
  width: 2px;
  height: 10px;
  content: "";
  background-color: #f2f9fe;
  position: absolute;
  animation: raindrop 1s infinite linear;
  top: -15px;
}
.rain:before {
  left: 40px;
  animation-delay: -0.4s;
}
.rain:after {
  left: 70px;
  animation-delay: -0.7s;
}

.Bottom {
  height: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  transition-duration: 1s;
}
.Bottom .dayweather {
  width: calc(14.2857142857% - 5px);
  display: inline-block;
  text-align: center;
  opacity: 0;
  top: 20px;
  transition: 0.3s;
}
.Bottom .dayweather h3 {
  font-size: 8px;
  color: rgba(34, 34, 34, 0.6);
  font-weight: 400;
  letter-spacing: 1px;
}
.Bottom .dayweather svg {
  width: 100%;
  max-width: 40px;
  height: 40px;
}
.Bottom .dayweather svg .sun {
  stroke-width: 30px;
  stroke-dasharray: 5px;
  stroke: rgba(255, 214, 51, 0.5);
  fill: #FFD633;
}
.Bottom .dayweather svg .cloud {
  fill: #ccc;
}
.Bottom .dayweather svg .rain {
  stroke: #4DACFF;
}

.dayweather:nth-child(1) {
  transition-delay: 0.1s;
}

.dayweather:nth-child(2) {
  transition-delay: 0.2s;
}

.dayweather:nth-child(3) {
  transition-delay: 0.3s;
}

.dayweather:nth-child(4) {
  transition-delay: 0.4s;
}

.dayweather:nth-child(5) {
  transition-delay: 0.5s;
}

.dayweather:nth-child(6) {
  transition-delay: 0.6s;
}

.dayweather:nth-child(7) {
  transition-delay: 0.7s;
}

.temsvg {
  width: 100%;
}
.temsvg circle {
  fill: #f3f3f3;
  opacity: 0.2;
}
.temsvg polyline {
  fill: none;
  stroke: #f3f3f3;
  stroke-width: 1px;
  opacity: 0.2;
}
.temsvg text {
  fill: #f3f3f3;
  opacity: 0;
  transform: translateX(-5px) translateY(10px);
  font-size: 10px;
}

@keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes moonmove {
  0% {
    box-shadow: 15px -15px #FFD633;
    transform: translateX(-15px) translateY(15px);
  }
  100% {
    box-shadow: -30px 30px #FFD633;
    transform: translateX(30px) translateY(-30px);
  }
}
@keyframes raindrop {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes clouddrift {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.moon, .cloud {
  transition-duration: 0.5s;
}

.temsvg circle {
  transition: 0.5s;
}
.temsvg polyline {
  transition: 0.5s 0.3s;
}
.temsvg text {
  transition: 0.5s 0.6s;
}

#switch_night:checked + .Top .moon, #switch_night:checked + .Top .cloud {
  opacity: 0.2;
}
#switch_night:checked + .Top .temsvg circle, #switch_night:checked + .Top .temsvg polyline, #switch_night:checked + .Top .temsvg text {
  opacity: 1;
}

#switch_night {
  display: none;
}

label {
  cursor: pointer;
}

/*# sourceMappingURL=test.css.map */
